.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px;
  gap: 20px;
  cursor: default;
  text-align: center;
}

.image {
  width: 100px;
  height: 100%;
  object-fit: contain;
}

.text {
  font-size: 1.2em;
}
